
# .gitignore
# Node
node_modules/
dist/
build/
.env
.env.* 
!.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
# .vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Misc
coverage/
*.local
*.cache
*.tmp 
docs/elpis-docs/docs/.vitepress/cache 

# Git
.git/ 