## 
ELPIS_PORT=xxx
ELPIS_NODE_ENV=xxx  # dev prod 

# JWT 密钥
ELPIS_JWT_SECRET_KEY=xxxx

# 数据库配置
ELPIS_DB_HOST=数据库的ip
ELPIS_DB_PORT=数据库端口号 
ELPIS_DB_DATABASE=数据库名
ELPIS_DB_PASSWORD=数据库密码
ELPIS_DB_USER=数据库用户名

# 邮箱配置（QQ邮箱）
ELPIS_EMAIL_HOST=xxxx
ELPIS_EMAIL_PORT=xxxx
ELPIS_EMAIL_SECURE=xxxx
ELPIS_EMAIL_USER=xxxx
ELPIS_EMAIL_PASS=xxxx
