
# 环境
ELPIS_PORT=
ELPIS_NODE_ENV=

# 数据库 
ELPIS_DB_HOST=
ELPIS_DB_PORT=
ELPIS_DB_DATABASE=
ELPIS_DB_PASSWORD= 
ELPIS_DB_USER= 
 
# JWT 密钥
ELPIS_JWT_SECRET=
ELPIS_JWT_SECRET_KEY=
ELPIS_JWT_EXPIRES_IN=

# Redis
ELPIS_REDIS_HOST=
ELPIS_REDIS_PORT=
ELPIS_REDIS_PASSWORD=

# 邮箱配置（QQ邮箱）
ELPIS_EMAIL_HOST=
ELPIS_EMAIL_PORT=
ELPIS_EMAIL_SECURE=
ELPIS_EMAIL_USER=
ELPIS_EMAIL_PASS=
