
# 环境
ELPIS_PORT=1234 # 启动服务的端口号
ELPIS_NODE_ENV=dev # 开发环境

# 数据库 
ELPIS_DB_HOST=127.0.0.1 # 数据库主机 比如 127.0.0.1
ELPIS_DB_PORT=3306 # 数据库端口 比如 3306
ELPIS_DB_DATABASE=elpis # 数据库名称
ELPIS_DB_PASSWORD=123456 # 数据库密码 比如 123456
ELPIS_DB_USER=root # 数据库用户 比如 root

